<br><br><br>
<h1>Análisis léxico de código JavaScript</h1>
<p>
	<nav>
		<a href="http://practicanalizador.herokuapp.com/test/index.html" class="mylink">Enlace a las pruebas</a>
		<a href="https://github.com/alu0100598322/PracticaAnalizador" class="mylink">Repositorio en Github</a>
	</nav>
</p>

<br><br>

<h2>Ficheros de ejemplo</h2>

<div id="buttons">
	<button id ="input2" type="button" onclick="dump('/assignment.txt');" class="mylink">Asignación</button>
	<button id ="input"  type="button" onclick="dump('/expression.txt');" class="mylink">Expresión</button>
	<button id ="hello"  type="button" onclick="dump('/input.txt');" class="mylink">Fichero No JS</button>
</div>

<br><br>

<h2>Introduzca su propio código JavaScript</h2>

<textarea id="INPUT">
	var a = "hello"; // initialize a
	var b = function(x) {
		var c = 3;
		return x+c;
	};
</textarea>
<br>

<input id="PARSE" value=Parse type=button class="mylink">
<pre id=OUTPUT></pre>

<script>
	function dump(fileName) {
		$.get(fileName, function (data) {
			$("#INPUT").val(data);
		});
	};
</script>